.button {
    font-family: sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid transparent;
    margin: 2px;
    letter-spacing: 0.03em;
    padding: 0.6em 0;

    &:hover {
        &:after {
            opacity: 1;
            transform: translateY(2px) scale(1);
        }
    }

    &:after {
        content: "";
        display: block;
        opacity: 0;
        transition: 0.3s ease-in-out;
        transform: translateY(0px) scale(0.8);
        border-bottom: 2px solid rgba(255, 0, 0, 0.6);
    }
}